#box{
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */

    justify-content: start;
    align-items: center;
    width: 478px;
    height: 1000px;

    background-color: pink;
}

#a{
    background-color: yellow;
    width: 100px;
    height: 100px;
}