#box{
    display: flex;
}
#top{
    background-color: aqua;
    width: 400px;
    height:200px;
}
#mid{
    background-color: rgb(124, 124, 158);
    width: 400px;
    height:700px;
}
#bottom{
    background-color: antiquewhite;
    width: 400px;
    height:300px;
}
#mid_menu1{
    background-color: azure;
    width: 400px;
    height: 100px;
}
#mid_menu2{
    background-color: azure;
    width: 400px;
    height: 100px;
}
#mid_menu3{
    background-color: azure;
    width: 400px;
    height: 100px;
}
#top_left{
    background-color:green;
    width: 200px;
    height: 200px;
    float:left;
}
#top_right{
    background-color: blue;
    width: 200px;
    height: 200px;
    float:left;
}
#bottom_left{
    background-color: brown;
    width: 200px;
    height: 300px;
    float:left;
}
#bottom_right{
    background-color: blueviolet;
    width: 200px;
    height: 300px;
    float:left;
}
#left_main{
    background-color: burlywood ;
    width:400px;
    height:1200px;
    float:left;
}
#right_banner{
    background-color: white;
    width:100px;
    height: 1200px;
    float:left;
}